---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Choisir son psy"
    description="Les raisons de consulter un psychologue, un psychiatre ou un psychanalyste."
    pubDate={new Date('August 08 2024')}
    heroImage="/trouver-psychologue.jpg"
>
  <section class="principal main-content" role="main">
    <section class="principal main-content" role="main">
      <p>Psy… Voilà un drôle de mot passé dans le langage courant ! Mais qui est vraiment psy ? Il est difficile
        de se repérer lorsqu'on souhaite s'adresser à un professionnel. Il existe un dispositif légal qui
        encadre les activités du domaine psy. Voici donc un panel non exhaustif qui vous permettra de savoir à
        qui vous vous adressez. Petite boussole en milieu psy...</p>
      <h3>Professions réglementées</h3>
      <svg id="svg--law"
           class="mx-auto my-10 fill-green-900"
           xmlns="http://www.w3.org/2000/svg"
           width="99.97" height="84.84" viewBox="0 0 99.97 84.84">
      <g id="marteau">
        <path
            d="M78.75,36.3L56.13,13.69,42.84,27l9.27,9.27-0.62.66c-2.44,2.6-5.35,5.56-8.56,8.66-1.58,1.57-3.28,3.13-5,4.72s-3.46,3.21-5.24,4.78c-3.52,3.19-7.13,6.3-10.52,9.2S15.55,69.8,12.73,72c-5.61,4.46-9.58,7.2-9.58,7.2A7.32,7.32,0,0,0,1.3,81.07a7.24,7.24,0,0,0,11.91,8.22s2.74-4,7.2-9.59c2.22-2.82,4.87-6,7.74-9.47s6-7,9.2-10.52c1.58-1.78,3.18-3.54,4.78-5.24s3.15-3.41,4.73-5c3.1-3.2,6.06-6.11,8.66-8.55l0.66-.62,9.28,9.27Z"
            transform="translate(-0.02 -7.58)" />
        <path d="M40.39,25.69L54.85,11.24a2.14,2.14,0,1,0-3-3L37.36,22.66A2.14,2.14,0,0,0,40.39,25.69Z"
              transform="translate(-0.02 -7.58)" />
        <path id="socle"
              d="M84.23,37.58a2.14,2.14,0,0,0-3,0L66.74,52a2.14,2.14,0,0,0,3,3L84.23,40.62A2.15,2.15,0,0,0,84.23,37.58Z"
              transform="translate(-0.02 -7.58)" />
      </g>
      <path
          d="M48.29,92.42a3.52,3.52,0,0,1-3.52-3.52h0a3.52,3.52,0,0,1,3.52-3.52H96.47A3.52,3.52,0,0,1,100,88.9h0a3.52,3.52,0,0,1-3.52,3.52H48.29Z"
          transform="translate(-0.02 -7.58)" />
    </svg>
      <hr>
      <div class="gallery">
        <section class="gallery box-two">
          <div class="o-box">
            <h4>Le psychologue</h4>
            <p>Le <strong>psychologue</strong> est un expert du fonctionnement psychique. Le titre de
              psychologue, protégé par la loi depuis 1985, est accessible après une formation
              universitaire de haut niveau (3e cycle, bac +5).</p>
            <p>Le psychologue peut évaluer, à l'aide de bilans et de tests, le fonctionnement affectif et
              cognitif du
              sujet. Le psychologue est à même de conduire des psychothérapies qui peuvent prendre
              plusieurs aspects
              suivant sa formation.</p>
            <p>À noter que seul un travail personnel de thérapie sur de longues années qualifie le
              psychologue en tant que thérapeute. Le numéro ADELI est une garantie offerte au patient.</p>
            <p>La profession de psychologue est la seule profession réglementée, gérée par le ministère de
              l'Enseignement supérieur et de la Recherche.</p>
            <p class="bg-red-100 rounded-lg p-5"><strong>L'usurpation du titre de psychologue est un délit et expose à des sanctions</strong>.
            </p>
          </div>
          <div class="o-box">
            <h4>Le psychiatre</h4>
            <p>Le <strong>psychiatre</strong> est un médecin spécialiste des maladies psychiatriques. Il
              peut à ce titre
              prescrire des médicaments qui soulagent la souffrance psychique.</p>
            <p>Il peut mener des psychothérapies - non remboursées la plupart du temps - mais, bien que la
              loi l'y
              autorise sans détour, il est préférable, comme pour le psychologue, qu'il ait effectué un
              travail personnel.
              Le numéro ADELI permet de s'assurer que le praticien exerce légalement.</p>
          </div>
          <div class="o-box">
            <h4>Le psychomotricien</h4>
            <p>Le travail du <strong>psychomotricien</strong> vise à traiter, par et au travers du corps,
              les troubles
              psychologiques ou psychiatriques. Le cursus, d'une durée de trois ans, mêle un enseignement
              en anatomie
              fonctionnelle, physiologie, psychologie, psychiatrie. La fin des études est sanctionnée par
              l'obtention
              du diplôme d'État de psychomotricité.</p>
            <p>La relaxation, les techniques corporelles, font partie des outils du psychomotricien. Le
              psychomotricien,
              comme le psychologue, doit posséder un numéro ADELI</p>
          </div>
          <div class="o-box">
            <h4>Le psychothérapeute</h4>
            <p>Le titre de <strong>psychothérapeute</strong> est réglementé depuis un décret du 20 mai 2010.
              Ne peuvent faire
              usage de ce titre que les psychologues, psychiatres et psychanalystes dont les critères de
              formation
              correspondent à la loi.</p>
            <p>Malheureusement, cette loi censée limiter les dérives sectaires est contournée par des
              praticiens peu
              scrupuleux qui s'autoproclament "praticiens en psychothérapie" ou encore tout simplement
              "thérapeutes".</p>
            <p>Tous ne sont pas dangereux, mais ces activités non encadrées prodiguées pas des thérapeutes
              le plus
              souvent peu formés peuvent facilement dériver vers des pratiques sectaires, voire
              franchement nocives.</p>
          </div>
        </section>
      </div>
      <h3 class="break">Professions non règlementées</h3>
      <hr>
      <div class="gallery">
        <div class="o-box">
          <h4>Le psychanalyste</h4>
          <p>Est <strong>psychanalyste</strong> celui qui se réfère à la théorie psychanalytique et qui met en
            oeuvre avec ses
            patients un dispositif analytique. Évident, mais pas si simple. En réalité, si l'État français
            ne légifère
            pas - encore - sur le statut des psychanalystes, ces derniers ont depuis longtemps mis en place
            des instances
            de régulation et d'encadrement de leur activité.</p>
          <p>Les psychanalystes français sont regroupés au sein de diverses associations dont seules trois
            sont
            reconnues par l'Association Psychanalytique Internationale. Souvent psychologues ou médecins,
            mais pas
            nécessairement, les futurs psychanalystes doivent suivre un long parcours de formation, tant
            personnelle
            que théorique avant d'être reconnus par leurs pairs.</p>
        </div>
        <div class="o-box">
          <h4>Praticiens en psychothérapie</h4>
          <p>Praticien en psychothérapie ou encore psychopraticien est une appellation récente qui découle de
            la loi
            sur le titre de psychothérapeute. Les psychothérapeutes sans formation reconnue se sont ainsi
            regroupés,
            dans le meilleur des cas au sein d'associations qui contrôlent la formation de leurs membres.
          </p>
          <p>Attention toutefois aux autoproclamés et aux associations fantaisistes. Ici, seul votre
            discernement
            peut vous guider.</p>
        </div>
        <div class="o-box">
          <h4>Développement personnel</h4>
          <p>C'est dans cette catégorie que l'on retrouve les praticiens en psychothérapie, parfois
            sérieusement formés,
            et certains thérapeutes aux idées parfois originales. C'est également dans cette catégorie que
            l'on
            rencontre le plus de dérives sectaires. C'est un véritable fourre-tout.</p>
          <p>Sophrologie, sophro-analyse, bio-énergétique, PNL, EMDR et autres, si elles ne sont pas nocives
            la
            plupart du temps, ne sont pas des psychothérapies. Si le principe de ces méthodes est parfois
            reconnu,
            voire utile en accompagnement du travail psychothérapeutique réalisé par un professionnel, il
            faut
            être très vigilant et ne pas donner son âme au premier gourou charismatique venu.</p>
        </div>
      </div>
    </section>
  </section>
</Layout>
