---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="L'hypnose thérapeutique"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date('August 08 2021')}
    heroImage="/blog-placeholder-about.jpg"
>
  <section class="principal main-content" role="main">
    <p>L'<strong> hypnose thérapeutique</strong> est actuellement utilisée comme technique d'appoint dans
      certaines psychothérapies, mais rarement seule.</p>
    <h2>L'hypnose : un état modifié de conscience</h2>
    <p>L'état modifié en situation d'hypnose est un moyen pour le sujet d'accéder à lui-même, ses émotions,
      pensées et sensations corporelles. En cela elle s'approche de certaines techniques de relaxation comme
      la sophrologie.</p>
    <h2>L'EMDR</h2>
    <p>Redécouverte en 2003, l'EMDR a tout d'abord été utilisée, avec succès, pour le traitement des syndromes
      post-traumatiques, en particulier lors de la guerre du Viêt Nam. Les principes en sont quelque peu
      étranges, car il s'agirait, par des mouvements oculaires, de synchroniser les deux hémisphères
      cérébraux, respectivement responsables des émotions et de la pensée.</p>
    <p>Malgré l'effet de mode produit par l'EMDR, ses résultats restent peu probants.</p>
    <h2>L'hypnose Ericksoniènne</h2>
    <p>Tirant son nom de son inventeur, M.H. Erickson, cette pratique est directive, le thérapeute étant en
      position de guide, usant de la suggestion directe. Le principe en est d'amener le patient à un recul lui
      permettant d'être le témoin de son activité mentale.</p>
    <aside class="le-point-sur">
      <p>Le point sur :</p>
      <h3> Pourquoi le succès de l'hypnose</h3>
      <p>L'hypnose a toujours fasciné. La séduction exercée par certains thérapeutes charismatiques, en est le
        principal ressort. Cependant, le manque de théorisation concernant la pratique de l'hypnose ouvre la
        porte à toutes sortes de pratiques douteuses. Il convient donc de rester prudent.</p>
      <p>Toutefois, pour des difficultés peu importantes, la relation ainsi formée entre le patient et son
        "mentor" peut se révéler bienfaisante.</p>
    </aside>
  </section>
</Layout>
