---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import SideBar from "../components/SideBar.astro";
import { Schema } from "astro-seo-schema";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import PsychologueImage from "../assets/psychologue-adulte.png";
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        name: "Nicolas Devaux - Psychologue à Sceaux",
        alternateName: "Cabinet de psychologie à Sceaux",
        description:
          "Psychologue et psychothérapeute à Sceaux. Thérapies psychodynamique, Cognitive et Comportementale, ACT et pleine conscience. Accompagnement psychologique personnalisé pour adultes et adolescents. Consultations sur rendez-vous.",
        image: ["https://www.psychologue-sceaux.fr/nicolas-devaux.jpg"],
        url: "https://nicolas-devaux-psychologue.fr",
        telephone: "0629341367",
        email: "ndevaux@gmail.com",
        address: {
          "@type": "PostalAddress",
          streetAddress: "63 rue Houdan",
          addressLocality: "Sceaux",
          postalCode: "92330",
          addressCountry: "FR",
        },
        geo: {
          "@type": "GeoCoordinates",
          latitude: "48.7783502",
          longitude: "2.2918735",
        },
        openingHours: "Mo-Sa 08:00-20:00",
        priceRange: "70€",
        paymentAccepted: "Espèces, Chèques",
        currenciesAccepted: "EUR",
      }}
    />
  </head>
  <body class="bg-gradient-to-r from-blue-50 to-white">
    <Header />
    <main class="container flex flex-col xl:flex-row gap-5 xl:gap-32 xl:py-8">
      <div class="xl:w-2/3">
        <h1 class="text-4xl md:text-5xl my-10 xl:mt-5">Psychologue à Sceaux</h1>
        <p class="mb-5">
          <strong>Psychologue clinicien</strong> diplômé de l’Université Paris 7,
          psychothérapeute, je vous accueille dans mon cabinet situé au 63 rue Houdan,
          au cœur de la rue piétonne de Sceaux. Je propose un accompagnement personnalisé
          aux enfants, adolescents, adultes, couples, dans un cadre bienveillant
          et confidentiel.
        </p>
        <h2 class="mb-3">Une approche intégrative centrée sur la personne</h2>
        <p class="mb-5">
          Ma pratique repose sur une approche intégrative, combinant différentes
          méthodes thérapeutiques pour répondre au mieux à vos besoins
          spécifiques. Je m'appuie notamment sur :
        </p>
        <ul class="mb-5 *:mb-2">
          <li>
            <strong>La psychothérapie psychodynamique</strong> : pour explorer les
            conflits internes et les expériences passées influençant votre vie actuelle.
          </li>
          <li>
            <strong>Les thérapies cognitives et comportementales (TCC)</strong> :
            pour identifier et modifier les schémas de pensée et de comportement
            problématiques.
          </li>
          <li>
            <strong>La thérapie d'acceptation et d'engagement (ACT)</strong> : pour
            développer la flexibilité psychologique et agir en accord avec vos valeurs
            profondes .
          </li>
          <li>
            <strong>La pleine conscience (MBCT et MBSR)</strong> : pour développer
            une meilleure conscience du moment présent et gérer plus efficacement le stress
            et les émotions difficiles.
          </li>
        </ul>
        <Image
          src={PsychologueImage}
          alt="Psychologue adulte"
          class="my-10"
          loading="eager"
        />
        <h2>Pour quelles difficultés consulter ?</h2>
        <p class="mb-5">
          Je vous accompagne dans diverses problématiques, telles que :
        </p>
        <ul class="mb-5 list-disc list-inside">
          <li>Troubles de l'humeur, anxiété, dépression, phobies, TOC</li>
          <li>Difficultés relationnelles, professionnelles ou familiales</li>
          <li>Traumatismes, deuils, gestion du stress</li>
          <li>
            Problèmes de confiance en soi, estime de soi, parentalité,
            sexualité,
          </li>
          <li>Addictions, troubles du comportement, difficultés scolaires</li>
          <li>Problèmes de couple</li>
          <li>Situations de harcèlement ou de violence</li>
        </ul>

        <section class="mb-16">
          <h2 class="mb-8 text-2xl md:text-3xl">
            Les différentes approches proposées au cabinet de psychologie de
            Sceaux
          </h2>
          <div class="grid xl:grid-cols-2 gap-8 xl:gap-12">
            <Card
              url="/psychotherapie/"
              image={(await import("../assets/psychotherapie.png")).default}
              title="Psychothérapie psychodynamique"
              content="Les psychothérapies psychanalytiques explorent les conflits internes et les expériences passées pour comprendre et traiter les troubles émotionnels"
            />

            <Card
              url="/therapie-acceptation-et-engagement/"
              image={(await import("../assets/acceptation-engagement.png"))
                .default}
              title="Thérapie d'Acceptation et d'Engagement (ACT)"
              content="La thérapie ACT (Acceptation et Engagement) encourage l'acceptation des émotions difficiles tout en s'engageant vers des actions alignées avec ses valeurs."
            />

            <Card
              url="/therapie-pleine-conscience/"
              image={(await import("../assets/mbct.png")).default}
              title="Mindfulness Based Cognitive Therapy (MBCT)"
              content="La MBCT (Thérapie cognitive basée sur la pleine conscience) combine méditation et techniques cognitives pour prévenir les rechutes dépressives et gérer le stress."
            />

            <Card
              url="/therapie-cognitive-et-comportementale/"
              image={(await import("../assets/tcc.png")).default}
              title="Thérapies cognitives et comportementales (TCC)"
              content="La TCC (Thérapie cognitive et comportementale) utilise des techniques cognitives pour traiter les troubles émotionnels et comportementaux."
            />
          </div>
        </section>
        <section class="mb-16">
          <h2 class="mb-8 text-2xl md:text-3xl">Horaires et tarifs</h2>
          <p>
            Je vous propose des séances de 45 minutes à 1h selon le travail
            proposé. Le tarif est de 70€.
          </p>
          <p>
            Les séances de psychologie et de psychothérapie ne sont pas
            remboursées par la sécurité sociale mais certaines mutuelles les
            prennent en charge. Renseignez-vous auprès de votre mutuelle.
          </p>
          <p>Le cabinet est ouvert du lundi au samedi de 8h à 20h.</p>
        </section>
      </div>
      <SideBar />
    </main>
    <Footer />
  </body>
</html>
