---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import SideBar from "../components/SideBar.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gradient-to-r from-blue-50 to-white">
    <Header />
    <main class="container flex flex-col xl:flex-row gap-5 xl:gap-32 xl:py-8">
      <div class="xl:w-2/3">
        <h1 class="text-2xl md:text-5xl mb-10 mt-5">Psychologue à Sceaux</h1>
        <p class="mb-5">
          Psychologue diplômé de l'Université Paris 7, psychothérapeute, je vous
          reçois dans mon cabinet de psychologie à Sceaux. Vous pouvez consulter
          pour des difficultés personnelles, des problèmes relationnels, des
          troubles de l'humeur, des difficultés professionnelles, des troubles
          du sommeil, des troubles alimentaires ou toute autre situation dans
          laquelle vous vous sentez en difficulté ou en souffrance.
        </p>
        <p class="mb-12">
          Ma pratique est intégrative, c'est à dire que je peux utiliser
          différentes méthodes thérapeutiques en fonction de vos besoins.
        </p>
        <section class="mb-16">
          <h2 class="mb-8 text-3xl">
            Les différentes approches proposées au cabinet de psychologie de
            Sceaux
          </h2>
          <div class="grid xl:grid-cols-2 gap-8 xl:gap-12">
            <Card
              url="/psychotherapie"
              image="./psychotherapie.png"
              title="Psychothérapie psychodynamique"
              content="Les psychothérapies psychodynamiques explorent les conflits internes et les expériences passées pour comprendre et traiter les troubles émotionnels"
            />

            <Card
              url="/therapie-acceptation-et-engagement"
              image="./acceptation-engagement.png"
              title="Thérapie d'Acceptation et d'Engagement (ACT)"
              content="La thérapie ACT (Acceptation et Engagement) encourage l'acceptation des émotions difficiles tout en s'engageant vers des actions alignées avec ses valeurs."
            />

            <Card
              url="/pleine-conscience"
              image="./mbct.png"
              title="Mindfulness Based Cognitive Therapy (MBCT)"
              content="La MBCT (Thérapie cognitive basée sur la pleine conscience) combine méditation et techniques cognitives pour prévenir les rechutes dépressives et gérer le stress."
            />

            <Card
              url="/pleine-conscience"
              image="./tcc.png"
              title="Thérapies cognitives et comportementales (TCC)"
              content="La MBCT (Thérapie cognitive basée sur la pleine conscience) combine méditation et techniques cognitives pour prévenir les rechutes dépressives et gérer le stress."
            />
          </div>
        </section>
      </div>
      <SideBar />
    </main>
    <Footer />
  </body>
</html>
