---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Psychologie et Thérapies</h1>
				<p>
				  Vous trouverez ici des informations sur la <a href="/psychologie/">psychologie</a>, 
				  les <a href="/psychotherapies/">psychotherapies</a>, la <a href="/psychanalyse/">psychanalyse</a>, la <a href="/relaxation-psychosomatique/">relaxation psychosomatique</a>, ainsi que sur le cabinet de psychologie de Sceaux.
				</p>
				<p>
				  La loi propose une garantie minimale de formation et protège les professionnels comme les
				  usagers. Des explications claires compréhensibles par vous, un projet cohérent dans un cadre
				  aux limites définies et acceptées par les deux partis, la liberté qui vous est laissée à tout
				  moment d'interrompre vos rencontres, l'humilité thérapeutique de votre praticien, sont des
				  garanties minimales que vous devez exiger.
				</p>
			  </section>
		</main>
		<Footer />
	</body>
</html>
