---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import SideBar from "../components/SideBar.astro";
import { Schema } from "astro-seo-schema";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import PsychologueImage from "../assets/psychologue-adulte.png";
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        name: "Nicolas Devaux - Psychologue à Sceaux",
        alternateName: "Cabinet de psychologie à Sceaux",
        description:
          "Psychologue et psychothérapeute à Sceaux. Thérapies psychodynamique, Cognitive et Comportementale, ACT et pleine conscience. Accompagnement psychologique personnalisé pour adultes et adolescents. Consultations sur rendez-vous.",
        image: ["https://www.psychologue-sceaux.fr/nicolas-devaux.jpg"],
        url: "https://nicolas-devaux-psychologue.fr",
        telephone: "0629341367",
        email: "ndevaux@gmail.com",
        address: {
          "@type": "PostalAddress",
          streetAddress: "63 rue Houdan",
          addressLocality: "Sceaux",
          postalCode: "92330",
          addressCountry: "FR",
        },
        geo: {
          "@type": "GeoCoordinates",
          latitude: "48.7783502",
          longitude: "2.2918735",
        },
        openingHours: "Mo-Sa 08:00-20:00",
        priceRange: "70€",
        paymentAccepted: "Espèces, Chèques",
        currenciesAccepted: "EUR",
      }}
    />
  </head>
  <body class="bg-gradient-to-r from-blue-50 to-white">
    <Header />
    <main class="container flex flex-col xl:flex-row gap-5 xl:gap-32 xl:py-8">
      <div class="xl:w-2/3">
        <h1 class="text-4xl md:text-5xl my-10 xl:mt-5">Psychologue à Sceaux</h1>
        <p class="mb-5">
          <strong
            >Psychologue diplômé de l'Université Paris 7, psychothérapeute,</strong
          > psychomotricien diplômé d'Etat, je vous reçois dans mon cabinet de psychologie à Sceaux.
        </p>
        <p class="mb-5">
          Mon approche est centrée sur la personne, et je m'efforce de créer un
          espace de confiance et de bienveillance pour vous accompagner dans
          votre démarche thérapeutique. Ensemble, nous travaillerons à
          identifier et à surmonter les obstacles qui entravent votre bien-être
          et à développer des stratégies pour améliorer votre qualité de vie.
        </p>
        <p class="mb-5">
          Je vous propose un accompagnement psychologique personnalisé pour
          adultes et adolescents qui rencontrent :
        </p>
        <ul class="mb-5 list-disc list-inside">
          <li>des difficultés personnelles, relationnelles ou professionnelles</li>
          <li>des troubles de l'humeur, du sommeil ou alimentaires</li>
          <li>des troubles anxieux, dépressifs, phobies, TOC</li>
          <li>des traumatismes, deuils, ou problèmes de gestion du stress</li>
          <li>des problèmes de confiance en soi, parentalité, sexualité ou couple</li>
          <li>des difficultés à gérer les émotions ou à prendre des décisions importantes</li>
          <li>des problèmes de dépendance ou d'addiction</li>
          <li>des troubles du comportement ou des difficultés scolaires chez les enfants et adolescents</li>
          <li>des situations de harcèlement ou de violence</li>
          <li>ou toute autre situation de difficulté ou de souffrance</li>
        </ul>

        <Image
          src={PsychologueImage}
          alt="Psychologue adulte"
          class="my-10"
          loading="eager"
        />
        <p>
          Ma pratique est intégrative, c'est à dire que je peux utiliser
          différentes méthodes thérapeutiques <strong
            >en fonction de vos besoins</strong
          >. Mon cadre est multiréférentiel, il tient compte des différentes
          approches thérapeutiques, psychanalytique, cognitive et
          comportementale et neuro-cognitive.
        </p>
        <p>
          Ainsi, je peux vous proposer des séances de psychothérapie analytique,
          une thérapie cognitive et comportementale classique ou encore de la 3e
          vague, comme la thérapie d'acceptation et d'engagement (ACT), la
          thérapie cognitive basée sur la pleine conscience (MBCT).
        </p>
        <p class="mb-12">
          Le cabinet de psychologie de Sceaux est situé au 63 rue Houdan, au
          coeur de la rue piétonne. Je reçois les enfants, les adolescents et
          les adultes.
        </p>
        <section class="mb-16">
          <h2 class="mb-8 text-2xl md:text-3xl">
            Les différentes approches proposées au cabinet de psychologie de
            Sceaux
          </h2>
          <div class="grid xl:grid-cols-2 gap-8 xl:gap-12">
            <Card
              url="/psychotherapie/"
              image={(await import("../assets/psychotherapie.png")).default}
              title="Psychothérapie psychodynamique"
              content="Les psychothérapies psychanalytiques explorent les conflits internes et les expériences passées pour comprendre et traiter les troubles émotionnels"
            />

            <Card
              url="/therapie-acceptation-et-engagement/"
              image={(await import("../assets/acceptation-engagement.png"))
                .default}
              title="Thérapie d'Acceptation et d'Engagement (ACT)"
              content="La thérapie ACT (Acceptation et Engagement) encourage l'acceptation des émotions difficiles tout en s'engageant vers des actions alignées avec ses valeurs."
            />

            <Card
              url="/therapie-pleine-conscience/"
              image={(await import("../assets/mbct.png")).default}
              title="Mindfulness Based Cognitive Therapy (MBCT)"
              content="La MBCT (Thérapie cognitive basée sur la pleine conscience) combine méditation et techniques cognitives pour prévenir les rechutes dépressives et gérer le stress."
            />

            <Card
              url="/therapie-cognitive-et-comportementale/"
              image={(await import("../assets/tcc.png")).default}
              title="Thérapies cognitives et comportementales (TCC)"
              content="La TCC (Thérapie cognitive et comportementale) utilise des techniques cognitives pour traiter les troubles émotionnels et comportementaux."
            />
          </div>
        </section>
        <section class="mb-16">
          <h2 class="mb-8 text-2xl md:text-3xl">Horaires et tarifs</h2>
          <p>
            Je vous propose des séances de 45 minutes à 1h selon le travail
            proposé. Le tarif est de 70€.
          </p>
          <p>
            Les séances de psychologie et de psychothérapie ne sont pas
            remboursées par la sécurité sociale mais certaines mutuelles les
            prennent en charge. Renseignez-vous auprès de votre mutuelle.
          </p>
          <p>Le cabinet est ouvert du lundi au samedi de 8h à 20h.</p>
        </section>
      </div>
      <SideBar />
    </main>
    <Footer />
  </body>
</html>
