---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Psychothérapies"
    description="Les raisons de consulter un psychologue, un psychiatre ou un psychanalyste."
    pubDate={new Date('August 08 2024')}
    heroImage="/psychotherapies.jpg"
>
  <section class="principal main-content" role="main">
    <h2>Hypnose, relaxation, psychanalyse... quelles différences ?</h2>
    <p>Il n'y a pas une mais des <strong> psychothérapies</strong>. Si <a
        href="/psychotherapies/psychanalyste-sceaux/" title="psychanalyse">la
      psychanalyse</a> est la plus connue d'entre elles, les <a
        href="/psychotherapies/psychotherapies-psychanalytiques/"
        title="psychothérapies psychanalytiques">psychothérapies psychanalytiques</a>, la <a
        href="/psychotherapies/therapie-cognitive-comportementale/"
        title="thérapies comportementales et cognitives">thérapie comportementale et cognitive</a>,
      l'<a href="/hypnose-therapeutique" title="hypnose therapeutique">hypnose</a> ou encore la thérapie systémique font
      partie du paysage de soins courant. D'autres formes de
      thérapie, moins encadrées que les premières existent. C'est le cas par exemple de la gestalt thérapie,
      de la très médiatique EMDR, de la thérapie psychochorporelle, de l'art thérapie...</p>
    <p>Certaines <strong>psychothérapies</strong> sont éprouvées, d'autres plus empiriques. Certaines sont
      reconnues et maniées par des professionnels longuement formés, d'autres pratiquées par des thérapeutes
      parfois bien formés, et parfois peu scrupuleux... Il est important de savoir que le titre de
      psychothérapeute est encadré par la loi depuis peu afin de prévenir certaines dérives et de réserver ce
      titre à des professionnels sérieusement formés.</p>
    <div class="alert-box mb-12">
      <h2>&Agrave; savoir</h2>
      <p>Le <strong>titre de psychothérapeute</strong> est protégé par un décret datant de 2004. Pour se
        déclarer psychothérapeute, il est nécessaire de posséder les diplômes recquis et d'être enregistré
        auprès de l'Agence Régionale de Santé. Vous pouvez consulter plus d'informations sur l'<a
            href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000022244482">usage du
          titre de psychothérapeute</a>.
      </p>
    </div>
    <section class="flex flex-col gap-10">
      <div class="shadow-md p-4 flex flex-col gap-4 justify-between">
        <span>&#8594; En savoir plus sur :</span>
        <a class="btn"
           href="/psychotherapies/psychanalyste-sceaux/"
           title="psychanalyse">la
          psychanalyse</a>
      </div>
      <div class="shadow-md p-4 flex flex-col gap-4 justify-between">
        <span>&#8594; En savoir plus sur :</span>
        <a class="btn"
           href="/psychotherapies/psychotherapies-psychanalytiques/"
           title="les psychothérapies psychanalytiques">
          les psychothérapies psychanalytiques
        </a>
      </div>
      <div class="shadow-md p-4 flex flex-col gap-4 justify-between">
        <span>&#8594; En savoir plus sur :</span>
        <a class="btn"
           href="/psychotherapies/therapie-cognitive-comportementale/"
           title="thérapies comportementales et cognitives">
          les thérapies comportementales et cognitives
        </a>
      </div>
      <div class="shadow-md p-4 flex flex-col gap-4 justify-between">
        <span>&#8594; En savoir plus sur :</span>
        <a class="btn" href="/psychotherapies/hypnose/"
           title="les psychothérapies psychanalytiques">
          l'hypnose
        </a>
      </div>
    </section>
  </section>
</Layout>
