---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="Les thérapies basées sur la pleine conscience"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date("August 08 2024")}
    heroImage="/blog-placeholder-about.jpg"
>
    <section class="principal main-content flex flex-col gap-8 xl:gap-12" role="main">
        <div>
            <h2 class="mb-5">MBSR (Mindfulness-Based Stress Reduction)</h2>
            <p>
                <strong>Description</strong> : Développée par Jon Kabat-Zinn dans
                les années 1970, la MBSR est une thérapie qui utilise la pleine conscience
                pour réduire le stress et améliorer la qualité de vie. Elle repose
                sur des exercices de méditation, de respiration et de mouvements
                doux (yoga).
            </p>
            <ul>
                <li>
                    <strong>Indications</strong> : Gestion du stress, douleurs chroniques,
                    troubles anxieux et bien-être général.
                </li>
                <li>
                    <strong>Durée</strong> : Programme structuré sur 8 semaines avec
                    des séances hebdomadaires et une pratique personnelle quotidienne.
                </li>
            </ul>
        </div>

        <div>
            <h2 class="mb-5">MBCT (Mindfulness-Based Cognitive Therapy)</h2>
            <p>
                <strong>Description</strong> : La MBCT est une combinaison de la
                MBSR et des principes de la thérapie cognitivo-comportementale. Créée
                pour prévenir les rechutes dépressives, elle aide les personnes à
                reconnaître et accepter les pensées négatives sans y réagir.
            </p>
            <ul>
                <li>
                    <strong>Indications</strong> : Prévention des rechutes dans la
                    dépression, gestion des troubles anxieux.
                </li>
                <li>
                    <strong>Durée</strong> : Programme structuré de 8 semaines, avec
                    des séances hebdomadaires et des exercices quotidiens.
                </li>
            </ul>
        </div>

        <div>
            <h2 class="mb-5">ACT (Acceptance and Commitment Therapy)</h2>
            <p>
                <strong>Description</strong> : L'ACT intègre des techniques de pleine
                conscience et d'acceptation pour aider les personnes à faire face
                aux pensées et émotions difficiles. Plutôt que de chercher à éliminer
                les pensées négatives, l’ACT encourage à les accepter et à se concentrer
                sur des actions en accord avec ses valeurs.
            </p>
            <ul>
                <li>
                    <strong>Indications</strong> : Gestion de l'anxiété, dépression,
                    troubles de l'humeur, addictions.
                </li>
                <li>
                    <strong>Durée</strong> : Thérapie à court terme, adaptée en fonction
                    des objectifs.
                </li>
            </ul>
        </div>

        <div>
            <h2 class="mb-5">DBT (Dialectical Behavior Therapy)</h2>
            <p>
                <strong>Description</strong> : Créée pour traiter le trouble de la
                personnalité borderline, la DBT combine les TCC classiques avec des
                pratiques de pleine conscience pour aider à réguler les émotions,
                développer des comportements adaptés et améliorer les relations.
            </p>
            <ul>
                <li>
                    <strong>Indications</strong> : Trouble de la personnalité borderline,
                    régulation émotionnelle, troubles de l'alimentation.
                </li>
                <li>
                    <strong>Durée</strong> : Programme structuré de plusieurs mois
                    avec des sessions individuelles et de groupe.
                </li>
            </ul>
        </div>

        <div>
            <h2 class="mb-5">
                Thérapies basées sur la compassion (CFT - Compassion-Focused
                Therapy)
            </h2>
            <p>
                <strong>Description</strong> : La CFT utilise des techniques de pleine
                conscience et d'autocompassion pour aider les individus à développer
                une attitude bienveillante envers eux-mêmes. Elle est particulièrement
                utile pour les personnes qui ont une forte critique intérieure ou
                des sentiments de honte.
            </p>
            <ul>
                <li>
                    <strong>Indications</strong> : Dépression, anxiété, honte, faible
                    estime de soi.
                </li>
                <li>
                    <strong>Durée</strong> : Variable, souvent à moyen terme.
                </li>
            </ul>
        </div>

        <div>
            <h2 class="mb-5">Mindful Self-Compassion (MSC)</h2>
            <p>
                <strong>Description</strong> : Développée par Kristin Neff et Christopher
                Germer, cette approche se concentre sur l’autocompassion et la pleine
                conscience. Elle vise à aider les individus à répondre aux moments
                de souffrance avec compassion au lieu de jugement.
            </p>
            <ul>
                <li>
                    <strong>Indications</strong> : Gestion du stress, anxiété, sentiment
                    d'inadéquation, amélioration de la relation à soi-même.
                </li>
                <li>
                    <strong>Durée</strong> : Programme de 8 semaines ou intégré dans
                    des thérapies individuelles.
                </li>
            </ul>
        </div>
    </section>
</Layout>
