---
const { url, title, content, image } = Astro.props;
---

<a
    href={ url }
    class="group border-tertiary border-2 p-5 text-black transition-all ease-out hover:border-black flex flex-col gap-3"
>
    <h2 class="text-xl">
        {title}
    </h2>
    <hr class="border-secondary" />
    <img src={image} alt="{image}" class="w-2/3 mx-auto">
    <p>
        {content}
    </p>
    <span
        class="bg-accent group-hover:bg-accent-dark text-white py-3 px-5 rouded-sm ml-auto mt-auto"
        >En savoir plus</span
    >
</a>
