<div
  class="bg-white shadow-lg rounded-lg p-4 text-sm w-fit mx-auto xl:mx-0 font-sans"
>
  <div class="flex mb-4 gap-4">
    <img
      alt="Nicolas Devaux, psychologue à Sceaux"
      src="//media.doctolib.com/image/upload/q_auto:eco,f_auto,dpr_2/w_48,h_48,c_fill,g_face/jmfecpdpi44h7uaftjp6"
      class="rounded-full w-12 h-12"
    /><div>
      <div class="font-semibold text-gray-700 leading-6">Nicolas Devaux, psychologue</div>
      <div class="flex gap-2 items-center leading-6 text-[#2B4660]">
        <svg
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
          class="dl-icon dl-icon-xsmall"
          data-design-system="oxygen"
          data-design-system-component="Icon"
          data-icon-name="regular/location-dot"
          ><path
            d="M9.875 6.5A1.866 1.866 0 0 1 8 8.375 1.85 1.85 0 0 1 6.125 6.5c0-1.031.82-1.875 1.875-1.875A1.88 1.88 0 0 1 9.875 6.5M8 5.75a.755.755 0 0 0-.75.75c0 .422.328.75.75.75.398 0 .75-.328.75-.75A.77.77 0 0 0 8 5.75m4.5.75c0 2.063-2.742 5.695-3.96 7.219a.707.707 0 0 1-1.102 0C6.218 12.195 3.5 8.563 3.5 6.5 3.5 4.016 5.492 2 8 2c2.484 0 4.5 2.016 4.5 4.5M8 3.125A3.376 3.376 0 0 0 4.625 6.5c0 .305.094.75.352 1.36.234.562.585 1.218.984 1.874A36 36 0 0 0 8 12.594c.563-.75 1.336-1.781 2.016-2.86.398-.656.75-1.312.984-1.875.258-.609.375-1.054.375-1.359A3.39 3.39 0 0 0 8 3.125"
          ></path></svg
        >Sceaux
      </div>
    </div>
  </div>
  <a
    href="https://www.doctolib.fr/psychologue/sceaux/nicolas-devaux-sceaux/booking?utm_campaign=website-button&utm_source=nicolas-devaux-sceaux-website-button&utm_medium=referral&utm_content=withpreview-white-inlined&utm_term=nicolas-devaux-sceaux"
    target="_blank"
    style="display:flex;gap:8px;padding:8px 16px ;height:40px;background:#107ACA;border-radius:8px;color:white;justify-content:center;align-items:center;font-weight:700;font-size:14px;text-transform:uppercase;text-decoration:none"
    aria-label="Prendre rendez-vous Doctolib"
    ><svg
      xml:space="preserve"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      style="height:16px;width:16px"
      class="dl-icon dl-icon-xsmall"
      data-design-system="oxygen"
      data-design-system-component="Icon"
      data-icon-name="regular/doctolib-logo"
      ><path
        d="M12.8 7.8c.3-1.6.3-4.8-4.8-5.3-1.3-.1-3.4.2-4.8.5v.1c0 .1.2.3.4.4.1.1.4 0 .5 0 4.6-.4 7.9.6 7.3 4-.3 1.9-1.6 4.4-5.1 4.4-.7 0-.8-.1-.7-.6 0-.1 1.1-5.9 1.2-6.5 0 0-.8-.2-1 .6 0 .2-1.9 7-2 7.4-.1.5.2.8 2.5.8 5.5-.1 6.3-4.8 6.5-5.8"
      ></path></svg
    >Prendre rendez-vous</a
  >
  <div class="flex flex-col items-center mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-12 h-12 mx-auto mb-2 text-accent"
    >
      <path
        fill-rule="evenodd"
        d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
        clip-rule="evenodd"></path>
    </svg>
    <p class="p-4 text-lg text-white text-center mt-4 bg-accent font-bold">
      Attention, les rendez-vous dans le cadre du dispositif <em>mon soutien psy</em> se font
      uniquement avec mon accord préalable par téléphone ou par messagerie
      Doctolib.
    </p>
    <p class="font-bold text-center text-sm text-black-dark">
      Je ne reçois actuellement plus de nouveaux patients dans le cadre du dispositif <em>mon soutien psy (juin 2025)</em>.
    </p>
  </div>
</div>
