---
const today = new Date();
---

<footer class="bg-primary py-10">
	<div class="container">
		<div class="flex flex-col md:flex-row justify-between items-center">
			<p>&copy; {today.getFullYear()} Nicolas Devaux. Tous droits réservés.</p>
			<p>
				<a href="/mentions-legales/">Mentions légales</a>
			</p>
			<p>
				Numéro RPPS : 10008482910
			</p>
		</div>
	</div>
</footer>



