---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-purple-500 text-white">
	<nav class="container">
		<h2><a href="/" class="text-white">{SITE_TITLE}</a></h2>
		<div class="internal-link  *:text-white">
			<HeaderLink href="/psychotherapies" class="text-white">Psychothérapie</HeaderLink>
			<HeaderLink href="/mindfulness">Thérapie MBCT</HeaderLink>
			<HeaderLink href="/therapie-acceptation-et-engagement">Thérapie ACT</HeaderLink>
			<HeaderLink href="/nicolas-devaux-psychologue">Qui suis-je ?</HeaderLink>
			<HeaderLink href="/blog">Articles</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
