---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a.active {
    background-color: white;
    color: var(--accent);
    font-weight: 600;
  }
  
  @media (min-width: 1280px) {
    a.active {
      background-color: transparent;
      border-bottom: 2px solid var(--accent);
      border-radius: 0;
    }
  }
</style>
